The following comments were submitted through the Contact us page of CIP:
<blockquote><%= dataobj.comments %></blockquote><br>
<h3>Client details</h3>Name: <%= dataobj.name %><br>Company: <%= dataobj.company_name %> (Account: <%= dataobj.clas_acount_number %>)<br>Email: <%= dataobj.email %>
<p>Thank You </p>